@model List<Dnp.Kanban.Domain.ProjectStage>
<div class="row">
    <div class="col-md-6">
        <h3>{{ProjectName}}</h3>
    </div>
    <div class="col-md-6">
        <form class="navbar-form navbar-right" role="search">

            <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="showDialog()">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New Stage
            </button>
            <button type="button" class="btn btn-default" ng-click="open()">
                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> New Task
            </button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-responsive table-bordered" style="background-color:white; height:100%">
            <tr>
                <td ng-repeat="stage in stages">
                    <span>{{stage.StageName}}</span>
                    <button class="btn btn-xs btn-primary glyphicon glyphicon-plus pull-right" />
                </td>
            </tr>
            <tr>
                <td ng-repeat="stage in stages">
                    <div class="col-md-4">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <p class="panel-title">New Task</p>
                            </div>
                            <div class="panel-body">
                                test
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
        </table>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="editStageModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New/Edit Stage</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="stage-name" class="col-sm-3 control-label">Stage Name:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>