@model List<Dnp.Kanban.Domain.ProjectStage>
<div class="row" ng-repeat="stage in stages" >
    <div class="{{stage.className}}">
        <div class="panel panel-default" style="height:100%">
            <div class="panel-heading">
                <p class="panel-title">stage.StageName</p>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
    
</div>
