<div class="row">
    <div class="col-md-12">
        <h2>Dashboard</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-3" ng-repeat="proj in projects">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title">{{proj.name}}</p>
            </div>
            <div class="panel-body">
                
            </div>
        </div>
    </div> 
</div>
